body{
    background-color: #A3C1AD;
}

.prueba{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.prueba h2{
    text-align: center;
    color: darkcyan;
    margin-bottom: 120px;
}

.prueba a{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 20px;
    color: brown;
    text-decoration: none;
}